#visible {
  height: 100%;
  background-color: #e6e6e8;
}

#hidden {
    height: 100%;
    background-color: #e6e6e8;
}

#app-bar {
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app-bar-left {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

#app-bar-left-h {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

#app-bar-logo {
  width: 40px;
  height: 40px;
  background-color: #1e1e1e;
}

#app-bar-logo img {
  width: 35px;
  height: 35px;
}

#app-bar-title {
  padding-left: 12px;
}

#app-bar-title h1 {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
}

#app-bar-action {
  padding-top: 3px;
  padding-right: 9px;
}

#app-bar-action mat-icon {
  color: #515057;
}

#app-bar-action mat-icon:hover {
  cursor: pointer;
  color: #0f0f10;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 8px;
}

.nav-item-icon {
  padding-right: 10px;
  padding-left: 15px;
}

#hidden .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#hidden .nav-item-icon {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-item-icon mat-icon {
  color: #515057;
}

#hidden .nav-item-icon mat-icon:hover {
  color: #16093d;
}

.nav-item-content:hover {
  color: #16093d;
  font-weight: 700;
}

.nav-t-title {
  padding-left: 13px;
  padding-bottom: 10px;
  padding-top: 13px;
}

.nav-t-title h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #515057;
}

#footer-action {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

#footer-action mat-icon {
    cursor: pointer;
}