<!-- FULL SIDENAV -->
<aside id="visible" *ngIf="visible">
  <div id="aside-header">
    <div id="app-bar">
      <div id="app-bar-left">
        <div id="app-bar-logo">
          <img [src]="'assets/IPJ_SELO.png'" />
        </div>
        <div id="app-bar-title"><h1>Igreja Presbiteriana do Jundiaí</h1></div>
      </div>
      <div id="app-bar-action">
        <mat-icon
          aria-hidden="false"
          aria-label="Colapsar Menu"
          fontIcon="keyboard_double_arrow_left"
          (click)="toggle()"
        ></mat-icon>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <nav>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Home"
          fontIcon="home"
        ></mat-icon>
      </div>
      <div class="nav-item-content"><span>Home</span></div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Pastoral"
          fontIcon="menu_book"
        ></mat-icon>
      </div>
      <div class="nav-item-content"><span>Pastoral</span></div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Catecismo"
          fontIcon="flag"
        ></mat-icon>
      </div>
      <div class="nav-item-content"><span>Catecismo</span></div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Pedidos de oração"
          fontIcon="favorite"
        ></mat-icon>
      </div>
      <div class="nav-item-content"><span>Pedidos de oração</span></div>
    </div>
  </nav>
  <mat-divider></mat-divider>
  <div class="nav-t">
    <div class="nav-t-title">
      <h2>Organizacional</h2>
    </div>
    <div class="nav-t-content">
      <nav>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Membros"
              fontIcon="assignment_ind"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Membros</span></div>
        </div>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Eventos"
              fontIcon="calendar_month"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Eventos</span></div>
        </div>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Escalas"
              fontIcon="content_paste"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Escalas</span></div>
        </div>
      </nav>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="nav-t">
    <div class="nav-t-title">
      <h2>Geral</h2>
    </div>
    <div class="nav-t-content">
      <nav>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Configurações"
              fontIcon="settings"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Configurações</span></div>
        </div>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Suporte"
              fontIcon="help"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Suporte</span></div>
        </div>
        <div class="nav-item">
          <div class="nav-item-icon">
            <mat-icon
              aria-hidden="false"
              arial-label="Sugestões e Problemas"
              fontIcon="info"
            ></mat-icon>
          </div>
          <div class="nav-item-content"><span>Sugestões e Problemas</span></div>
        </div>
      </nav>
    </div>
  </div>
</aside>

<!-- SMALL SIDENAV -->
<aside id="hidden" *ngIf="!visible">
  <div id="aside-header">
    <div id="app-bar">
      <div id="app-bar-left-h">
        <div id="app-bar-logo">
          <img [src]="'assets/IPJ_SELO.png'" />
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <nav>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Home"
          fontIcon="home"
        ></mat-icon>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Pastoral"
          fontIcon="menu_book"
        ></mat-icon>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Catecismo"
          fontIcon="flag"
        ></mat-icon>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Pedidos de oração"
          fontIcon="favorite"
        ></mat-icon>
      </div>
    </div>
  </nav>
  <mat-divider></mat-divider>
  <nav>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Membros"
          fontIcon="assignment_ind"
        ></mat-icon>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Eventos"
          fontIcon="calendar_month"
        ></mat-icon>
      </div>
    </div>
    <div class="nav-item">
      <div class="nav-item-icon">
        <mat-icon
          aria-hidden="false"
          arial-label="Escalas"
          fontIcon="content_paste"
        ></mat-icon>
      </div>
    </div>
  </nav>
  <mat-divider></mat-divider>
  <div class="nav-t-content">
    <nav>
      <div class="nav-item">
        <div class="nav-item-icon">
          <mat-icon
            aria-hidden="false"
            arial-label="Configurações"
            fontIcon="settings"
          ></mat-icon>
        </div>
      </div>
      <div class="nav-item">
        <div class="nav-item-icon">
          <mat-icon
            aria-hidden="false"
            arial-label="Suporte"
            fontIcon="help"
          ></mat-icon>
        </div>
      </div>
      <div class="nav-item">
        <div class="nav-item-icon">
          <mat-icon
            aria-hidden="false"
            arial-label="Sugestões e Problemas"
            fontIcon="info"
          ></mat-icon>
        </div>
      </div>
    </nav>
  </div>
  <div id="footer-action">
    <mat-icon
      aria-hidden="false"
      aria-label="Colapsar Menu"
      fontIcon="keyboard_double_arrow_right"
      (click)="toggle()"
    ></mat-icon>
  </div>
</aside>
