.stepper-inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#novo-membro {
  display: flex;
  justify-content: center;
}

#novo-membro-stepper {
  max-width: 600px;
  min-width: 600px;
  padding: 20px;
}

#novo-membro-foto-perfil {
  width: 250px;
  height: 250px;
  background-color: bisque;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

#novo-membro-foto-perfil img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  position: absolute;
}

#foto-perfil-placeholder {
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3px 0;
}

#foto-perfil-placeholder p {
  padding: 0;
  margin: 0;
  color: white;
}

.papel {
  font-weight: 500;
}

.nome {
  font-weight: lighter;
}

#cargos-escolhidos {
  display: flex;
  flex-direction: column;
}

#cargo-label h1{
  font-size: medium;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#cargo-label h2{
  font-size: small;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

#finalizar-resumo {
  padding: 35px;
  text-align: justify;
}

#stepper-finalizar { 
  display: flex;
  flex-direction: column;
}

#stepper-action {
  display: flex;
  flex-direction: column;
}

#stepper-action button {
  margin-top: 10px;
}

.dado-em-destaque {
  font-weight: bold;
}