<div id="pastoral">
    <header>
        <h1>Pastoral</h1>
    </header>
    <section>
        <p>
            Toda pastoral publicada substituira a pastoral vigente, mas ainda podera ser
            consultada pelo membro na aba de pesquisa do aplicativo.
        </p>
    </section>
    <main>
        <div id="informacoes-pastoral">
            <mat-form-field>
                <mat-label>Título:</mat-label>
                <input matInput type="text" [(ngModel)]="pastoral.titulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Subtítulo:</mat-label>
                <input matInput type="text"  [(ngModel)]="pastoral.subtitulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Autor:</mat-label>
                <input matInput type="text" [(ngModel)]="pastoral.autor">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Descrição:</mat-label>
                <textarea matInput [(ngModel)]="pastoral.descricao" rows="3" ></textarea>
            </mat-form-field>
        </div>
        <div id="editor">
            <angular-editor id="pastoral-editor" [(ngModel)]="pastoral.conteudo" [config]="editorConfig"></angular-editor>
            <div id="actions">
                <button mat-raised-button color="secondary" (click)="salvar()">Salvar</button>
                <button mat-raised-button color="primary" [disabled]="!salvo">Publicar</button>
            </div>
        </div>
    </main>
</div>