<div id="content-placeholder">
    <div id="background">
      <div id="barra-lateral-esquerda">
        <div id="logo-ipj">
          <img src="/assets/LOGO_IPJ_AZUL_ESCURO_QUADRADO.jpg" />
        </div>
      </div>
      <div id="conteudo">
        <div id="conteudo-principal">
          <div id="head">
            <div id="titulo">
              <h1>Sistema Igreja Presbiteriana do Jundiaí</h1>
            </div>
            <div id="subtitulo">
              <h2>
                Ferramenta de uso institucional, se estiver buscando pelo aplicativo
                destinado ao publico, você pode encontra-lo na loja de aplicativos
                como IPJ GO.
              </h2>
            </div>
          </div>
          <div id="form">
            <div id="form-conteudo">
              <mat-form-field appearance="outline" id="form-field-nome-usuario">
                <mat-label>Nome de usuário</mat-label>
                <input matInput [formControl]="nomeUsuario">
              </mat-form-field>
              <mat-form-field appearance="outline" id="form-field-senha">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="entrar()">Entrar</button>
            </div>
            <div id="form-rodape">
              <p>Problemas para acessar sua conta administrativa ou de membro? <a href="#" target="_blank">Clique aqui.</a></p>
            </div>
          </div>
        </div>
        <div id="rodape">
          <p>Acesse nossa <a href="#" target="_blank">Política do Uso dos Dados</a> e nosso <a href="#" target="_blank">Termos de Serviço</a>.</p>
        </div>
      </div>
    </div>
  </div>